[Unit]
Description=streaming

[Service]
User=root
WorkingDirectory=/app
ExecStart=/usr/bin/java -jar /app/dist.jar
SuccessExitStatus=143
TimeoutStopSec=20
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target